In [1]:
import pandas as pd
# DateFrame 생성
data = {
    '이름': ['철수', '영희', '민수'],
    'age': [28, 22, 31],
    'gender': ['남', '여', '남']
}
df = pd.DataFrame(data)
# DataFrame 출력
df

   이름  age gender
0  철수   28      남
1  영희   22      여
2  민수   31      남

In [8]:
df.to_csv("df.csv", index=False)

In [9]:
df = 0
df

0

In [19]:
df = pd.read_csv("df.csv")

In [21]:
df

   이름  age gender
0  철수   28      남
1  영희   22      여
2  민수   31      남

In [25]:
import openpyxl
df.to_excel("df.xlsx", engine='openpyxl')

In [24]:
import pandas as pd

# 리스트로 데이터 정의
data = [
    ['철수', 28, '남'],
    ['영희', 22, '여'],
    ['민수', 31, '남'],
]

# 컬럼 이름 정의
columns = ['이름', 'age', 'gender']
df = pd.DataFrame(data, columns=columns)

# DataFrame 출력
df

   이름  age gender
0  철수   28      남
1  영희   22      여
2  민수   31      남

In [6]:
df1 = pd.DataFrame([{"이름": "철수", "age":28, "gender":"남"}, {"이름": "영희", "age":22, "gender":"여"}])
df1

   이름  age gender
0  철수   28      남
1  영희   22      여

Series 예제 코드

In [7]:
import pandas as pd

# Series 생성
data = pd.Series([100, 200, 300, 400, 500], index=['a', 'b', 'c', 'd', 'e'])

# Series 출력
print(data)

a    100
b    200
c    300
d    400
e    500
dtype: int64